<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My first website</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1 id="naglowek">Witaj na mojej stronie domowej.</h1> <br>

        <a href="index.html">Home page</a>&nbsp;&nbsp;  <a href="kontakt.html">Kontakt</a><br><br>


        <img src="https://scontent.flhr14-1.fna.fbcdn.net/v/t1.6435-9/43530751_2054718781215736_5149180276210925568_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=YhRIFK4Px08AX-Logd4&_nc_ht=scontent.flhr14-1.fna&oh=00_AfDd1gGGj2Z7-wzO6mZwc1M1kAxOkicaxT4VxFOUtlVmQg&oe=63EA5565" alt="marcin" title="marcin" width="600" height="300"><br><br>




        <h2 class="first">Krótko o mnie . . .</h2>
       

        <p><strong>imię:</strong> Marcin</p>
        <p><strong>nazwisko:</strong> Lewandowski</p>


    </body>
</html>

